form {
    border: 3px solid white;
}

input[type=text], input[type=pasword] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

buton:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.container {
    padding: 16px;
}

span.pass {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.pass {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}