* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 100px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: medium;
}

.go-logo {
  width: 32px;
}

.navbar ul, .navbar li {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
}

.navbar li {
  font-weight: 100;
  letter-spacing: 0.5px;
  color: #606060;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: calc(100vh - 120px);
  padding: 20px;
  margin-top: 20px;
  border-radius: 40px;
  background-color: #fff;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  gap: 36px;
  color: white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
}
.hero-content p {
  font-size: 18px;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.search-field {
  padding: 16px 24px;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  border: solid 1px #fff;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .6) 100%);
}

